{% extends 'base.html' %} {% block content %} {% if request.user.age >= 18 %}
<a href="{% url 'crear_test' %}" class="btn btn-primary">Crear test</a>
{% else %}
<h2 class="text-danger">Debes ser mayor de edad para poder crear tests</h2>
{% endif %}

<table class="table">
  <caption>
    Tests
  </caption>
  <thead>
    <tr>
      <th>Autor</th>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Fecha creación</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% if tests %} {% for test in tests %}
    <tr>
      <td>{{test.autor}}</td>
      <td>{{test.nombre}}</td>
      <td>{{test.descripcion}}</td>
      <td>{{test.fecha_creacion}}</td>
      {% if request.user.age >= 18 %}
      <td>
        <a href="{% url 'agregar_pregunta' test.id %}" class="btn btn-primary"
          >Añadir preguntas</a
        >
      </td>
      <td>
        <form
          method="POST"
          action="{% url 'eliminar_test' test.id %}"
          onsubmit="return confirm('¿Seguro?')"
        >
          {% csrf_token %}
          <button type="submit" value="borrar" class="btn btn-primary">
            Eliminar
          </button>
        </form>
      </td>
      {% endif %}
      <td>
        <a href="{% url 'ver_preguntas' test.id %}" class="btn btn-primary"
          >Ver preguntas</a
        >
      </td>
    </tr>
    {% endfor %} {% else %}
    <tr>
      <td>Todavía no hay tests creados</td>
    </tr>
    {% endif %}
  </tbody>
</table>
{% endblock %}
